Day 23 - Turtle Crossing/__pycache__/car.cpython-312.pyc
Day 23 - Turtle Crossing/__pycache__/level_counter.cpython-312.pyc
Day 23 - Turtle Crossing/__pycache__/turtle_crosser.cpython-312.pyc
Python.env
tasks.json
Day 55 - web server wish flask and high low game/__pycache__/app.cpython-311.pyc
